{% extends 'base.html' %} {% block body %}
<div class="text-center">
	<h1 class="wow fadeInUp" style="margin: 0 auto;">
		<strong>Parámetros</strong>
	</h1>
</div>

<form action="" method="post" id="image_params">
	<div class="col-md-12">
		<div class="col-md-6 zero-margin-bottom">
			<div class="form-group">
				<label for="Param1">Parametro1</label> <input name="param1"
					type="param" class="form-control" id="exampleInputParam1"
					placeholder="Parametro1">
			</div>
			<div class="form-group">
				<label for="Param2">Parametro2</label> <input name="param2"
					type="param" class="form-control" id="exampleInputParam2"
					placeholder="Parametro2">
			</div>
			<div class="form-group">
				<label for="Param3">Parametro3</label> <input name="param3"
					type="param" class="form-control" id="exampleInputParam3"
					placeholder="Parametro3">
			</div>
			<div class="input-group mb-3">
				<label for="Param3">Parametro4</label>
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="inputGroupFile01">
					<label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
				</div>
			</div>

		</div>

		<div class="col-md-6 zero-margin-bottom">

			<div class="form-group">
				<select title="Pick a number" class="selectpicker">
					<option>Select...</option>
					<option>One</option>
					<option>Two</option>
					<option>Three</option>
				</select>
			</div>

		</div>
	</div>
	<div class="text-center">
		<button type="submit" class="btn btn-primary">Ejecutar</button>
	</div>
</form>

{% endblock %}
