{% extends 'base.html' %} {% block body %}

<div class="text-center">
	<h1 class="wow fadeInUp" style="margin: 0 auto;">
		<strong>Parámetros</strong>
	</h1>
</div>

<form action="" method="post" id="image_params">
	<div class="col-md-12">
		<div class="col-md-6 zero-margin-bottom">
			<div class="form-group">
				<label for="Param1">Parametro1</label> <input name="param1"
					type="param" class="form-control" id="exampleInputParam1"
					placeholder="Parametro1">
			</div>
			<div class="form-group">
				<label for="Param2">Parametro2</label> <input name="param2"
					type="param" class="form-control" id="exampleInputParam2"
					placeholder="Parametro2">
			</div>
			<div class="form-group">
				<label for="Param3">Parametro3</label> <input name="param3"
					type="param" class="form-control" id="exampleInputParam3"
					placeholder="Parametro3">
			</div>
		</div>
		<div class="col-md-6 zero-margin-bottom">
			<div class="form-group">
				<label for="listPararms">Lista de Parametros</label> <select
					name="listParams" class="form-control">
					<option value="">Selecciona Parametros</option>
					<option value="option1">option1</option>
					<option value="option2">option1</option>
				</select>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Check me
					out</label>
			</div>

		</div>
		<div class="col-md-12 zero-margin-bottom">
			<div class="form-group">
				<label for="comments">Comments:</label>
				<textarea name="comment" class="form-control" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-default submit btn-danger">Ejecutar</button>
		</div>
	</div>
</form>
</div>

{% endblock %}

<script type="text/javascript">
	$(document).ready(function() {
		$('.mdb-select').material_select();
	});
</script>

