{% extends 'base.html' %} {% block body %}
<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="home-thumb">
					<h1 class="wow fadeInUp" style="font-weight: bold;"
						data-wow-delay="0.8s">Learn IA</h1>
					<h3 class="wow fadeInUp" data-wow-delay="0.6s"
						style="font-weight: bold;">
						<strong>Seleccione una de las opciones demostracion de </strong><br>Machine
						Learning
					</h3>
					
					<a  data-toggle="modal" data-target="#modal1" type="button"
						class="btn btn-warning" title="Pulse aquí para iniciar proceso de estudio con Machine Learning en textos" id="text">Texto</a> 
						
					<a  data-toggle="modal" data-target="#modal3" title="Pulse aquí para iniciar proceso de estudio con Machine Learning en imágenes" type="button"
						class="btn btn-warning" id="image">Imágenes</a>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- modal -->

<script src="/static/js/control.js"></script>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<div class="modal-header">
				<button type="button" id="close" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Algoritmo y Parámetros</h4>
			</div>
			<form action="/text/graph/" method="post">
				{% csrf_token %}
				<div class="form-group row">
					<label
						style="color: white; font-family: 'Rajdhani', sans-serif; font-size: 25px; padding-right: 10px;"
						for="inputState" class="col-xs-2 col-form-label">Algoritmos</label>
					<div class="col-xs-8">
						<select id="selectAlgorit" class="form-control" name="algoritmo">
							<option style="color: black" value="none" selected>Seleccione
								una opción</option>
							<option style="color: black" value="Random Forest">Random
								Forest</option>
							<option style="color: black" value="Logistic Regression">Logistic
								Regression</option>
							<option style="color: black" value="Naives Bayes">Naives
								Bayes</option>
							<option style="color: black" value="Modelo Linear SVC">Modelo
								Linear SVC</option>
						</select>
					</div>
				</div>
				<div class="form-group row" id="groupSVC">
				
					<div class="col-xs-12" style="padding-bottom: 20px;">
						<p class="modal-title">Basado en SVM que son métodos de aprendizaje supervisado que se utilizan para la clasificación, regresión y detección de valores atípicos. Linear SVC es una implementación de la Clasificación de vectores de soporte para el caso de un kernel lineal</p>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
		       				<a data-toggle="modal" class="my-btn" title="Determina en cuanto se divide el documento analizado, (2) Positivo y Negativo. (3) Positivo, Neutro y Negativo" href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
	      				
						<div class="col-xs-6">
							<select id="selectPolarSVC" style="margin-left: 0px;" class="form-control"
								name="polaridadSVC">
								<option style="color: black" selected disabled value="title">Polaridad</option>
								<option style="color: black" value="3">3</option>
								<option style="color: black" value="2">2</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
		       				<a data-toggle="modal" class="my-btn" title="Determnina el número máximo de iteraciones a ejecutar." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
	      				
						<div class="col-xs-6">
							<select id="selectIteracSVC" style="margin-left: 0px;" class="form-control"
								name="iteracionesSVC">
								<option style="color: black" selected disabled value="title">Iteraciones</option>
								<option style="color: black" value=1000>Predeterminado</option>
								<option style="color: black" value="1500">1500</option>
								<option style="color: black" value="2500">2500</option>
								<option style="color: black" value="3500">3500</option>
							</select>
						</div>
					</div>
				</div>	
				<div class="form-group row" id="groupNB">
					<div class="col-xs-12" style="padding-bottom: 20px;">
						<p class="modal-title">Técnica de clasificación y predicción que construye modelos que predicen la probabilidad de posibles resultados. Naive Bayes utiliza datos históricos para encontrar asociaciones y relaciones y hacer predicciones</p>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
		       				<a data-toggle="modal" class="my-btn" title="Determina en cuanto se divide el documento analizado, (2) Positivo y Negativo. (3) Positivo, Neutro y Negativo" href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectPolarNB" style="margin-left: 0px;" class="form-control" name="polaridadNB">
								<option style="color: black" selected disabled value="title">Polaridad</option>
								<option style="color: black" value="3">3</option>
								<option style="color: black" value="2">2</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row" id="groupRF">
					<div class="col-xs-12" style="padding-bottom: 20px;">
						<p class="modal-title">Combinación de árboles predictores tal que cada árbol depende de los valores de un vector aleatorio probado independientemente y con la misma distribución para cada uno de estos.</p>
					</div>

					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
	       					<a data-toggle="modal" class="my-btn" title="Determina en cuanto se divide el documento analizado, (2) Positivo y Negativo. (3) Positivo, Neutro y Negativo" href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectPolarRF" style="margin-left: 0px;" class="form-control" name="polaridadRF">
								<option style="color: black" selected disabled value="title">Polaridad</option>
								<option style="color: black" value="3">3</option>
								<option style="color: black" value="2">2</option>
							</select>
						</div>
					</div>	
					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
	       					<a data-toggle="modal" class="my-btn" title="Número de árboles utilizados, por lo general mientras mayor es el número, mejor para aprender los datos." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectTreeRF" style="margin-left: 0px;" class="form-control" name="treeRF">
								<option style="color: black" selected disabled value="title">Nº
									árboles</option>
								<option style="color: black" value="100">Predeterminado</option>
								<option style="color: black" value="200">200</option>
								<option style="color: black" value="300">300</option>
								<option style="color: black" value="500">500</option>
								<option style="color: black" value="1000">1000</option>
							</select>
						</div>
					</div>	
					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
	       					<a data-toggle="modal" class="my-btn" title="Representa la profundidad de cada árbol en el bosque. Cuanto más profundo es el árbol, más divisiones tiene y captura más información sobre los datos." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectMaxDepthRF" style="margin-left: 0px;" class="form-control" name="depthRF">
								<option style="color: black" selected disabled value="title">Prof.
									máxima</option>
								<option style="color: black" value="2">Predeterminado</option>
								<option style="color: black" value="32">32</option>
								<option style="color: black" value="64">64</option>
								<option style="color: black" value="80">80</option>
								<option style="color: black" value="100">100</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
	       					<a data-toggle="modal" class="my-btn" title="Cantidad de características a considerar cuando se busca la mejor división. (sqrt)=sqrt (nº caracteriísticas). (log2)=log2(nº caracteriísticas)." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectFeatureRF" style="margin-left: 0px;" class="form-control" name="featureRF">
								<option style="color: black" selected disabled value="title">Fun.
									máximas</option>
								<option style="color: black" value="auto">Predeterminado</option>
								<option style="color: black" value="sqrt">sqrt</option>
								<option style="color: black" value="log2">log2</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
	       					<a data-toggle="modal" class="my-btn" title="Número mínimo de muestras necesarias para dividir un nodo interno." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectSamSplitRF" style="margin-left: 0px;" class="form-control"
								name="samSplitRF">
								<option style="color: black" selected disabled value="title">Muest.
									necesarias</option>
								<option style="color: black" value="2">Predeterminado</option>
								<option style="color: black" value="8">8</option>
								<option style="color: black" value="10">10</option>
								<option style="color: black" value="12">12</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
	       					<a data-toggle="modal" class="my-btn" title="Número mínimo de muestras requeridas para estar en un nodo." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectSamLeafRF" style="margin-left: 0px;" class="form-control" name="samLeafRF">
								<option style="color: black" selected disabled value="title">Muest.
									requeridas</option>
								<option style="color: black" value="1">Predeterminado</option>
								<option style="color: black" value="8">3</option>
								<option style="color: black" value="10">4</option>
								<option style="color: black" value="12">5</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row" id="groupLG">
					<div class="col-xs-12" style="padding-bottom: 20px;">
						<p class="modal-title">Es un tipo de análisis de regresión utilizado para predecir el resultado de una variable categórica (una variable que puede adoptar un número limitado de categorías) en función de las variables independientes o predictoras.</p>
					</div>

					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
	       					<a data-toggle="modal" class="my-btn" title="Determina en cuanto se divide el documento analizado, (2) Positivo y Negativo. (3) Positivo, Neutro y Negativo" href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectPolarLG" style="margin-left: 0px;" class="form-control" name="polaridadLG">
								<option style="color: black" selected disabled value="title" >Polaridad</option>
								<option style="color: black" value="3" title="Combinación de árboles predictores tal que cada árbol depende de los valores de un vector aleatorio probado indepen Combinación de árboles predictores tal que cada árbol depende de los valores de un vector aleatorio probado indepen">3</option>
								<option style="color: black" value="2">2</option>
							</select>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
	       					<a data-toggle="modal" class="my-btn" title="Parámetro de penalización C." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
						<div class="col-xs-6">
							<select id="selectParamCLG" style="margin-left: 0px;" class="form-control" name="paramCLG">
								<option style="color: black" selected disabled value="title">Parámetro
									C</option>
								<option style="color: black" value="1.0">Predeterminado</option>
								<option style="color: black" value="0.001">0.001</option>
								<option style="color: black" value="0.01">0.01</option>
								<option style="color: black" value="0.1">0.1</option>
								<option style="color: black" value="10.0">10</option>
								<option style="color: black" value="100.0">100</option>
							</select>
						</div>
					</div>
				</div>
				<section id="button-submit">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="home-thumb">
									<button data-toggle="modal" title="Pulse aquí para ejecutar un análisis estadístico del algoritmo seleccionada con la configuración elegida." id="submit" class="btn btn-warning">EJECUTAR</button>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="button-gen">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="home-thumb">
									<button data-toggle="modal" title="Pulse aquí para ver una comparativa global predeterminada entre los distintos algortimos." id="submit" class="btn btn-warning">COMPARACIÓN
										GENERAL</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>

<!-- modal 3 -->

<script src="/static/js/control_image.js"></script>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<div class="modal-header">
				<button type="button" id="close" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Red Neuronal y Parámetros</h4>
			</div>
			<form action="/image/graph/" method="post">
				{% csrf_token %}
				<div class="form-group row">
					<label
						style="color: white; font-family: 'Rajdhani', sans-serif; font-size: 25px; padding-right: 10px;"
						for="inputState" class="col-xs-2 col-form-label">Sentimiento/Género</label>
					<br> <br>
					<div class="col-xs-9">
						<select id="selectSentGen" class="form-control" name="SentGen">
							<option style="color: black" value="none" selected>Seleccione
								una opción</option>
							<option style="color: black" value="Sentimiento">Sentimiento</option>
							<option style="color: black" value="Genero">Genero</option>
						</select>
					</div>
				</div>
				<div class="form-group row" id="groupSent">
					<div class="col-xs-9">
						<select id="selectRedSent" class="form-control" name="redSent">
							<option style="color: black" selected disabled value="title">Red
								Neuronal</option>
							<option style="color: black" value="Simple CNN">Simple
								CNN</option>
							<option style="color: black" value="Mini XCEPTION CNN">Mini
								XCEPTION CNN</option>
							<option style="color: black" value="Big XCEPTION CNN">Big
								XCEPTION CNN</option>
						</select>
					</div>
					<div class="col-xs-9" style="margin-left: 75px;">
						<p id="simpleCNNSent" class="modal-title">Arquitectura simple de una Red Neuronal Convolucional compuesta por 6 capas convolutivas, intercalando entre ellas operaciones de función máxima(ReLU) y agrupación.</p>
						<p id="miniXCNNSent" class="modal-title">Arquitectura basada en Xception, compuesta por 4 modulos donde se combinan convoluciones normales y convoluciones separables en profundidad. Tamaño máximo de los filtros = 128.</p>
						<p id="bigXCNNSent" class="modal-title">Arquitectura basada en Xception, compuesta por 4 modulos donde se combinan convoluciones normales y convoluciones separables en profundidad. Tamaño máximo de los filtros = 256.</p>
					</div>
					<div class="col-xs-9" style="padding-top: 10px;">
						<select id="selectOptimSent" class="form-control"
							name="optimizadorSent">
							<option style="color: black" selected disabled value="title">Optimizadores</option>
							<option style="color: black" value=SGD>SGD</option>
							<option style="color: black" value="RMSprop">RMSprop</option>
							<option style="color: black" value="Adam">Adam</option>
						</select>
					</div>
					<div class="col-xs-9" style="margin-left: 75px;">
						<p id="sgdSent" class="modal-title">Optimización del gradiente descendiente usado para minimizar la función objetivo que se define como una suma de funciones diferenciables. En otras palabras, SGD trata de encontrar mínimos o máximos por iteración.</p>
						<p id="rmsPropSent" class="modal-title">Propone recuperar el concepto de amortiguar las fluctuaciones en el gradiente. Si en vez realizar una acumulación de gradientes esta vez realizamos la media móvil exponencial (EWMA), nos permite de manera automática descartar los valores más antiguos.</p>
						<p id="adamSent" class="modal-title">Trata de solventar el problema con la fijación del ratio de aprendizaje del SGD, para ello adapta el ratio de aprendizaje en función de cómo estén distribuidos los parámetros. Si los parámetros están muy dispersos (sparse) el ratio de aprendizaje aumentará.</p>
					</div>
					<div class="col-xs-12" style="padding-top: 10px;">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
		       				<a data-toggle="modal" class="my-btn" title="Determnina el número máximo de iteraciones a ejecutar." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
	      				
						<div class="col-xs-6">
							<select id="selectIterSent" style="margin-left: 0px;" class="form-control"
								name="iteraccionSent">
								<option style="color: black" selected disabled value="title">Iteraciones</option>
								<option style="color: black" value="25">25</option>
								<option style="color: black" value="50">50</option>
								<option style="color: black" value="100">100</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group row" id="groupGen">
					<div class="col-xs-9">
						<select id="selectRedGen" class="form-control" name="redGen">
							<option style="color: black" selected disabled value="title">Red
								Neuronal</option>
							<option style="color: black" value="Simple CNN">Simple
								CNN</option>
							<option style="color: black" value="Mini XCEPTION CNN">Mini
								XCEPTION CNN</option>
							<option style="color: black" value="Big XCEPTION CNN">Big
								XCEPTION CNN</option>
						</select>
					</div>
					<div class="col-xs-9" style="margin-left: 75px;">
						<p id="simpleCNNGen" class="modal-title">Arquitectura simple de una Red Neuronal Convolucional compuesta por 6 capas convolutivas, intercalando entre ellas operaciones de función máxima(ReLU) y agrupación.</p>
						<p id="miniXCNNGen" class="modal-title">Arquitectura basada en Xception, compuesta por 4 modulos donde se combinan convoluciones normales y convoluciones separables en profundidad. Tamaño máximo de los filtros = 128.</p>
						<p id="bigXCNNGen" class="modal-title">Arquitectura basada en Xception, compuesta por 4 modulos donde se combinan convoluciones normales y convoluciones separables en profundidad. Tamaño máximo de los filtros = 256.</p>
					</div>
					<div class="col-xs-9" style="padding-top: 10px;">
						<select id="selectOptimGen" class="form-control"
							name="optimizadorGen">
							<option style="color: black" selected disabled value="title">Optimizadores</option>
							<option style="color: black" value=SGD>SGD</option>
							<option style="color: black" value="RMSprop">RMSprop</option>
							<option style="color: black" value="Adam">Adam</option>
						</select>
					</div>
					<div class="col-xs-9" style="margin-left: 75px;">
						<p id="sgdGen" class="modal-title">Optimización del gradiente descendiente usado para minimizar la función objetivo que se define como una suma de funciones diferenciables. En otras palabras, SGD trata de encontrar mínimos o máximos por iteración.</p>
						<p id="rmsPropGen" class="modal-title">Propone recuperar el concepto de amortiguar las fluctuaciones en el gradiente. Si en vez realizar una acumulación de gradientes esta vez realizamos la media móvil exponencial (EWMA), nos permite de manera automática descartar los valores más antiguos.</p>
						<p id="adamGen" class="modal-title">Trata de solventar el problema con la fijación del ratio de aprendizaje del SGD, para ello adapta el ratio de aprendizaje en función de cómo estén distribuidos los parámetros. Si los parámetros están muy dispersos el ratio de aprendizaje aumentará.</p>
					</div>
					<div class="col-xs-12" style="padding-top: 10px;">
						<div class="col-xs-3" style="width: 50px; margin-left: 100px;">
		       				<a data-toggle="modal" class="my-btn" title="Determnina el número máximo de iteraciones a ejecutar." href="#">
		         				<span class="glyphicon glyphicon-info-sign"></span>
		       				</a>
	      				</div>	
	      				
						<div class="col-xs-6">
							<select id="selectIterGen" style="margin-left: 0px;" class="form-control"
								name="iteraccionGen">
								<option style="color: black" selected disabled value="title">Iteracciones</option>
								<option style="color: black" value="25">25</option>
								<option style="color: black" value="50">50</option>
								<option style="color: black" value="100">100</option>
							</select>
						</div>
					</div>
				</div>
				<section id="button-submit-2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="home-thumb">
									<button  data-toggle="modal" title="Pulse aquí para ejecutar un análisis estadístico con la configuración elegida." id="submit" class="btn btn-warning">EJECUTAR</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>

{% endblock %}