{% extends 'base.html' %} {% block body %}
<!-- preloader section -->
<section class="preloader">
	<div class="sk-circle">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>
</section>

<script type="text/javascript">

	google.charts.load('current', {packages: ['corechart', 'bar']});
	google.charts.setOnLoadCallback(drawStacked);

	function drawStacked() {
		var polaridad = {{polaridad}};
		
		if(polaridad == 3){
			var data = google.visualization.arrayToDataTable([
				['Polaridad', 'Verdaderos', 'Falsos'],
	  		  	['Positivos', {{TP}}, {{FP}}],
	  		  	['Neutros', {{TNONE}}, {{FNONE}}], 
	  		  	['Negativos', {{TN}}, {{FN}}]
	      	]); 
		}else{
			var data = google.visualization.arrayToDataTable([
				['Polaridad', 'Verdaderos', 'Falsos'],
	  		  	['Positivos', {{TP}}, {{FP}}],
	  		  	['Negativos', {{TN}}, {{FN}}]
	      	]); 
		}
		
      	var options = {
            	title: '',
            	chartArea: {width: '50%'},
            	isStacked: true,
            	backgroundColor: 'transparent',
          		textStyle: {
                	color: 'white'
                },
                titleTextStyle: {
                	color: 'white'
                },
            	hAxis: {
            		title: '',
              		minValue: 0,
              		textStyle: {
                    	color: 'white'
                    },
                    titleTextStyle: {
                    	color: 'white'
                    }
            	},
            	vAxis: {
              		title: '',
              		textStyle: {
                    	color: 'white'
                    },
                    titleTextStyle: {
                    	color: 'white'
                    }
            	},
                legend: {
                    textStyle: {
                        color: 'white'
                    }
                }
          	};
		 
		

      	
      	var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      	chart.draw(data, options);
	}
</script>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="home-thumb">
					<h1 class="wow fadeInUp" style="font-weight: bold;" data-wow-delay="0.8s">{{title}}</h1>
						<div class="col-md-12" id="chart_div" style="height: 250px;">
						</div>
						<a href="/welcome/" type="button" class="btn btn-warning">Demo</a>
						<a href="/welcome/" type="button" class="btn btn-warning">Volver</a>

				</div>
			</div>

		</div>
	</div>		
</section>
{% endblock %}
