{% extends 'base.html' %} {% block body %}
<!-- preloader section -->
<section class="preloader">
	<div class="sk-circle">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>
</section>

<script type="text/javascript">
	google.charts.load('current', {packages: ['corechart', 'bar']});
	google.charts.setOnLoadCallback(drawStacked);
	function drawStacked() {
		var data = google.visualization.arrayToDataTable([
			['Algoritmo', '', ''],
  		  	['Logistic Regresion', {{ACC_LR}}, {{ERR_LR}}],
  		  	['Naive Bayes', {{ACC_NB}}, {{ERR_NB}}],
  		  	['Support Vector Classification', {{ACC_SVC}}, {{ERR_SVC}}],
  		  	['Random Forest', {{ACC_RF}}, {{ERR_RF}}]
      	]);
		
		var data3 = google.visualization.arrayToDataTable([
			['Algoritmo', 'Ratio de verdaderos positivos', 'Ratio de verdaderos negativos', 'Ratio de verdaderos neutros'],
  		  	['Logistic Regresion', {{SEN_LR_P}}, {{ESP_LR_N}},  {{ESP_LR_NONE}}],
  		  	['Naive Bayes', {{SEN_NB_P}}, {{ESP_NB_N}}, {{ESP_NB_NONE}}],
  		  	['Support Vector Classification', {{SEN_SVC_P}}, {{ESP_SVC_N}}, {{ESP_SVC_NONE}}],
  		  	['Random Forest', {{SEN_RF_P}}, {{ESP_RF_N}}, {{ESP_RF_NONE}}]
      	]);
		
      	var options = {
            	title: 'Accuracy y Error',
            	chartArea: {width: '50%'},
            	isStacked: true,
            	backgroundColor: 'transparent',
          		textStyle: {
                	color: 'white'
                },
                titleTextStyle: {
                	color: 'white'
                },
            	hAxis: {
            		title: 'Porcentaje (%)',
              		minValue: 0,
              		textStyle: {
                    	color: 'white'
                    },
                    titleTextStyle: {
                    	color: 'white'
                    }
            	},
            	vAxis: {
              		title: 'Algoritmos',
              		textStyle: {
                    	color: 'white'
                    },
                    titleTextStyle: {
                    	color: 'white'
                    }
            	},
            	 legend: {
                		position: 'none'
                 }
          	};
      	
    	var options3 = {
            	title: 'Sensibilidad y Especifidad',
            	chartArea: {width: '50%'},
            	isStacked: true,
            	backgroundColor: 'transparent',
          		textStyle: {
                	color: 'white'
                },
                titleTextStyle: {
                	color: 'white'
                },
            	hAxis: {
            		title: 'Cantidad',
              		minValue: 0,
              		textStyle: {
                    	color: 'white'
                    },
                    titleTextStyle: {
                    	color: 'white'
                    }
            	},
            	vAxis: {
              		title: 'Algoritmos',
              		textStyle: {
                    	color: 'white'
                    },
                    titleTextStyle: {
                    	color: 'white'
                    }
            	},
                legend: {
                    textStyle: {
                        color: 'white'
                    }
                }
          	};
      	
      	var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      	chart.draw(data, options);
      	var chart2 = new google.visualization.BarChart(document.getElementById('chart_div2'));
      	chart2.draw(data3, options3);
	}
</script>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="home-thumb">
					<h1 class="wow fadeInUp" style="font-weight: bold;" data-wow-delay="0.8s">Comparación General de Algoritmos</h1>
						<div class="col-md-12" id="chart_div" style="height: 250px;">
						</div>
						<div class="col-md-12" id="chart_div2" style="height: 250px;">					
						</div>
						<a href="/welcome/" type="button" class="btn btn-warning">Volver</a>
				</div>
			</div>

		</div>
	</div>		
</section>
{% endblock %}