{% extends 'base.html' %} {% block body %}
<!-- preloader section -->
<section class="preloader">
	<div class="sk-circle">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>
</section>

<script type="text/javascript">

	google.charts.load('current', {packages: ['corechart', 'bar']});
	google.charts.setOnLoadCallback(drawStacked);

	function drawStacked() {
		var data = google.visualization.arrayToDataTable([
			['Algoritmo', 'Aciertos', 'No aciertos'],
  		  	['Logistic Regresion', {{ACC_LR}}, {{ERR_LR}}],
  		  	['Naive Bayes', {{ACC_NB}}, {{ERR_NB}}],
  		  	['Support Vector Classification', {{ACC_SVC}}, {{ERR_SVC}}],
  		  	['Random Forest', {{ACC_RF}}, {{ERR_RF}}]
      	]);
		
      	var options = {
            	title: 'Accuracy y Error',
            	chartArea: {width: '50%'},
            	isStacked: true,
            	hAxis: {
            		title: '%',
              		minValue: 0,
            	},
            	vAxis: {
              		title: 'Algoritmos'
            	}
          	};
		 
		var data2 = google.visualization.arrayToDataTable([
			['Algoritmo', 'tasa de verdaderos positivos', 'Ratio de verdaderos negativos'],
  		  	['Logistic Regresion', {{SEN_LR}}, {{ESP_LR}}],
  		  	['Naive Bayes', {{SEN_NB}}, {{ESP_NB}}],
  		  	['Support Vector Classification', {{SEN_SVC}}, {{ESP_SVC}}],
  		  	['Random Forest', {{SEN_RF}}, {{ESP_RF}}]
      	]);
	
      	var options2 = {
            	title: 'Sensibilidad y Especifidad',
            	chartArea: {width: '50%'},
            	isStacked: true,
            	hAxis: {
            		title: '%',
              		minValue: 0,
            	},
            	vAxis: {
              		title: 'Algoritmos'
            	}
          	};

      	
      	var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      	var chart2 = new google.visualization.BarChart(document.getElementById('chart_div2'));
      	chart.draw(data, options);
      	chart2.draw(data2, options2);
      	var chart3 = new google.visualization.BarChart(document.getElementById('chart_div3'));
      	var chart4 = new google.visualization.BarChart(document.getElementById('chart_div4'));
      	chart3.draw(data, options);
      	chart4.draw(data, options);
	}
</script>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="home-thumb">
					<h1 class="wow fadeInUp" style="font-weight: bold;" data-wow-delay="0.8s">Análisis de Sentimientos</h1>
						<div class="col-md-6" id="chart_div" style="height: 250px;">
						</div>
						<div class="col-md-6" id="chart_div2" style="height: 250px;">					
						</div>
						<div class="col-md-6" id="chart_div3" style="margin-top: 10px ;height: 250px;">
						</div>
						<div class="col-md-6" id="chart_div4" style=" margin-top: 10px ;height: 250px;">					
						</div>
						

				</div>
			</div>

		</div>
	</div>		
</section>
{% endblock %}
